#tutorial {
    font-family: 'Roboto', sans-serif;
}

#tutorial > section {
    margin-bottom: 30px;
}

#tutorial > section > h1 {
	margin-left: 0;
	margin-right: 0;
}

#tutorial > section > h2 {
	padding-left: 0;
	padding-right: 0;
}

#tutorial > section > ul {
    padding-inline-start: 40px;
    list-style-type: disc;
}

#tutorial > section > ul > li {
    float: none;
}

