@charset "utf-8";

* {
	box-sizing: border-box;
	transition: 1s;
}
 
main {
	font: normal 13px arial, sans-serif;
	@media only screen and (max-width: 1000px) {
		width: 100%;
	}
}

.main-section {
	margin: 10px; 
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	//justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly;
	@media only screen and (max-width: 1000px) {
		flex-direction: column;
		width: 95%;
	}
}

.main-section-info-aluno {
	background: rgba(1,1,1,0.1);
	//width: 250px;
	width: 20%;
	@media only screen and (max-width: 1000px) {
		width: 100%;
		margin-top: 5px;
	}
}

.main-section-info-aluno-image {
	border-radius: 50px;
	//border-radius: 50%;
	border: 1px solid rgba(37, 36, 36, 0.1);
	display: block;
    margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	max-width: 100%;
    //height: auto;
}

.main-section-info-aluno-detail {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
}

.main-section-info-aluno-detail-nome {
	font-weight: bold;
}

.main-section-disciplinas {
	margin-left: 5px;
	background: rgba(1,1,1,0.1);
	//width: 450px;
	width: 37%;
	@media only screen and (max-width: 1000px) {
		width: 100%;
		margin-left: auto;
		margin-top: 5px;
	}
}

.main-section-disciplinas-head {
	margin-left: 5px;
	font-weight: bold;
}

.main-section-disciplinas-grid {
	display: grid;
	grid-template-columns: 80% 20%;
	grid-gap: 2px;
	margin: 10px;
}

.main-section-disciplinas-grid-item {
	background-color: rgb(183, 210, 233);
	//border: 1px solid rgb(255, 255, 255);
}

.main-section-detail {
	margin-left: 5px;
	background: rgba(1,1,1,0.1);
	//width: 250px;
	width: 18%;
	@media only screen and (max-width: 1000px) {
		width: 100%;
		margin-left: auto;
		margin-top: 5px;
	}
}

.main-section-detail-periodo {
	height: 50px;
	margin: 5px;
	margin-bottom: 10px;
	border: 1px dashed #7c7; 
    background-color: rgb(255, 255, 255);     
}

.main-section-detail-periodo-head {
	border-bottom: 1px solid #7c7; 
	background-color: #efe;     
	//color: #050;              
}

.main-section-detail-cre {
	height: 50px;
	margin: 5px;
	margin-bottom: 10px;
	border: 1px dashed rgb(172, 144, 144); 
    background-color: rgb(255, 255, 255);  
}

.main-section-detail-cre-head {
	border-bottom: 1px solid rgb(172, 144, 144); 
	background-color: rgb(209, 189, 189);     
	//color: #050;                
}

.main-section-frequencia {
	margin-top: 5px;	
	background: rgba(1,1,1,0.1);
	width: 38%;
	@media only screen and (max-width: 1000px) {
		width: 100%;
	}
}

//.main-section-frequencia-head {
//	margin-left: 5px;
//	margin-right: 5px;
//	font-weight: bold;
//}

.main-section-notas {
	margin-left: 5px;
	margin-top: 5px;	
	background: rgba(1,1,1,0.1);
	width: 37.4%;
	@media only screen and (max-width: 1000px) {
		width: 100%;
		margin-left: auto;
	}
}

//.main-section-notas-head {
//	margin-left: 5px;
//	margin-right: 5px;
//	font-weight: bold;
//}

.main-section-historico {
	margin-top: 5px;
	background: rgba(1,1,1,0.1);
	width: 38%;
	@media only screen and (max-width: 1000px) {
		width: 100%;
	}
}

//.main-section-historico-head {
//	margin-left: 5px;
//	font-weight: bold;
//}

.main-section-historico-div, .main-section-solicitacoes-div {
	overflow: auto;
	height: 350px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.main-section-historico-div-table {
    border-collapse: collapse;
	border: 1px solid #666;
	margin: auto;
	//margin-top: 10px;
	//margin-bottom: 10px;
	width: 75%;

	tr:nth-child(odd) {
		background-color:#ffffff;
	}

	tr:nth-child(even) {
		background-color: rgb(221, 236, 255);
	}
	
	th {
		//font-weight: normal;
		text-align: left;
	}
	
	.td-periodo {
		text-align: center;
		background: rgb(202, 202, 202);
	}

	caption {
		font-weight: bold;
	}
}

.main-section-solicitacoes {
	margin-left: 5px;
	margin-top: 5px;	
	background: rgba(1,1,1,0.1);
	width: 37.4%;
	@media only screen and (max-width: 1000px) {
		width: 100%;
		margin-left: auto;
	}
}

.main-section-solicitacoes-div-table {
    margin: auto;
	//margin-top: 10px;
	//margin-bottom: 10px;
	width: 75%;
	border-spacing: 2px 2px;
	
	td,tr {
		background: rgb(206, 206, 206);
		//border: 1px solid black;
	}
		
	caption {
		font-weight: bold;
	}
}